*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
nav.navbar {
  margin: 0;
}
.main-wrapper{
  margin: 0 auto;
  text-align: center;
  width: 800px;
  padding: 10px 0 0 0;
}
.chat-container {
  float: right;
  margin: 0 auto;
}
.message-list {
  padding: 30px 30px 20px ;
  border-bottom: 2px solid white;
  overflow-y: auto;
  height: 575px;  
  width: 600px; 
  background: #fff;
  border-radius: 10px;
}
.message-data {
  margin-bottom: 15px;
}
.my-message-data{
  text-align: right;
}
.other-message-data{
  text-align: left;
}
.message-data-name{
  padding: 0 5px;
  font-weight: bold;
}    
.message-data-time {
  color: lighten(gray, 8%);
  padding-left: 6px;
}
.fa-circle{
  padding: 0 5px 0 0;
}  
.message {      
  color: white;
  padding: 13px 15px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  position: relative;
  max-width: 500px;
  word-wrap: break-word;
}
      
.message::after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: $green;
  border-width: 10px;
  margin-left: -10px;
}
.my-message {
  background: green;
  float: right;
}
.other-message {
  background: blue;
  float: left;
}
.message-form-wrap{
  background: #ccc;
  padding: 15px 15px;
  border-radius: 10px;
} 
.login-signin-wrap{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.content-wrap{
  margin: 0 auto;
  max-height: 100%;
  min-height: 100vh;
  background: rgba(0,0,0,0.1);
 
}
.header-nav {
  float: right;
  padding: 5px 0;
}
.logo {
  display: block;
  float: left;
}
.logo:hover {
  color: #23527c;
  text-decoration: none;
}
.logo-in {
  font-family: 'Corben', cursive;
  display: block;
  font-size: 35px;
  margin-bottom: -16px;
  text-decoration: none;
  cursor: pointer;
}
.logo-touch {
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
}
.users-list-wrap{
  float: left;
  width: 200px;
  height: 630px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: #fff;
  position: relative;
  border-radius: 10px;
  z-index: 1;
}
.users-list-wrap ul li{
  text-align: left;
  padding: 5px 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 19px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}
.user-me{
  color: green;
}
.user-other{
  color: blue;
}
